/* TRACCIA B - Slider con prodotti
Immagine, titolo e testo sono racchiusi in una card, uno sotto l’altro
 */

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding-top: 50px;
    width: 900px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

.imgStyle {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
}


.off {
    display: none;
    text-align: center;
    padding: 15px 0;
}

.bigTitle {
    color: red;
}

.price {
    color: green;
}


.imgActive {
    display: block;
}

.down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
}

.up {
    position: absolute;
    top: 12%;
    left: 50%;
    background-color: aqua;
    padding: 10px;
    border-radius: 50%;
}

.fa-angle-up {
    font-size: 1rem;
}

.fa-angle-down {
    font-size: 1rem;
}

.selectImg {
    display: flex;
    justify-content: space-evenly;
    width: 1300px;
    height: 300px;
    margin: 0 auto;
}


.imgMiniatura {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.3);
}

.filterImage {
    filter: brightness(1);
    border: 2px solid yellow;
}