<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueSlider</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <img v-for="(slide, i) in slides" :src="slide.immagine" class="imgStyle"
                :class="{ imgActive: (i == slideStart) }">
            <button class="down" @click="fCaroselIndietro()"><i class="fa-solid fa-angle-left"></i></button>
            <button class="up" @click="fCaroselAvanti()"><i class="fa-solid fa-angle-right"></i></button>
            <div class="selectImg">
                <img v-for="(slide, i) in slides" :src="slide.immagine" class="imgMiniatura"
                    :class="{ filterImage: (i == slideStart) }" @click="selectSlide(i)">
            </div>
        </div>
        <h1 v-for="(slide, i) in slides" class="off" :class="{ imgActive: (i == slideStart) }">{{ slide.nome }}
        </h1>
        <h4 v-for="(slide, i) in slides" class="off" :class="{ imgActive: (i == slideStart) }">{{ slide.descrizione }}
        </h4>
        <h2 v-for="(slide, i) in slides" class="off green" :class="{ imgActive: (i == slideStart) }">{{ slide.prezzo }}
        </h2>
    </div>




    <script src="./js/main.js"></script>
</body>

</html>